html,body {
    background-color: #21232a;
    color: white;
    font-size: 1.3rem;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
    padding: 70px;
}

button {
    padding: 20px;
    font-size: 1.3rem;
    margin-right: 5px;

}